.nav{
    background-color: rgb(254, 249, 242) !important;
    border: solid 3px white !important;
    font-weight:500 !important;
    position: fixed !important;
    top: 0; 
    width: 100%; 
    z-index: 1000;
}
h3{
  letter-spacing: 4px;
}
.nav-link {
  margin: 2px !important;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  text-decoration: none;
  padding: 6px 12px !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 4px;
  background-color: var(--border-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%; 
}
.nav-link.active::after {
  color: var(--border-color) !important;
  width: 100%;
}
.nav-link.active{
  position: relative;
  color: var(--text-secondary) !important;
  background-color: var(--bg-footer);
}

@media screen and (max-width: 988px){
  .nav-link:hover::after {
  width: 100%; 
}
}